In [19]:
import pandas as pd

In [20]:
path = r"C:\Users\HP\Documents\GitHub\Last-Mile-206\datasets\WorldEconomicOutlookData.csv"
df = pd.read_csv(path)

In [21]:
unique_descriptor = df["Subject Descriptor"].unique()
print(unique_descriptor)
column_names = df.columns
print(column_names)

[&#39;Gross domestic product, constant prices&#39;
 &#39;Gross domestic product, current prices&#39;
 &#39;Gross domestic product per capita, constant prices&#39;
 &#39;Inflation, average consumer prices&#39;
 &#39;Inflation, end of period consumer prices&#39; &#39;Unemployment rate&#39;
 &#39;General government net lending/borrowing&#39; &#39;Current account balance&#39; nan]
Index([&#39;WEO Country Code&#39;, &#39;ISO&#39;, &#39;WEO Subject Code&#39;, &#39;Country&#39;,
       &#39;Subject Descriptor&#39;, &#39;Subject Notes&#39;, &#39;Units&#39;, &#39;Scale&#39;,
       &#39;Country/Series-specific Notes&#39;, &#39;1980&#39;, &#39;1981&#39;, &#39;1982&#39;, &#39;1983&#39;, &#39;1984&#39;,
       &#39;1985&#39;, &#39;1986&#39;, &#39;1987&#39;, &#39;1988&#39;, &#39;1989&#39;, &#39;1990&#39;, &#39;1991&#39;, &#39;1992&#39;, &#39;1993&#39;,
       &#39;1994&#39;, &#39;1995&#39;, &#39;1996&#39;, &#39;1997&#39;, &#39;1998&#39;, &#39;1999&#39;, &#39;2000&#39;, &#39;2001&#39;, &#39;2002&#39;,
       &#39;2003&#39;, &#39;2004&#39;, &#39;2005&#39;, &#39;2006&#39;, &#39;2007&#39;, &#39;2008&#39;, &#39;2009&#39;, &#39;2010&#39;, &#39;2011&#39;,
       &#39;2012&#39;, &#39;2013&#39;, &#39;2014&#39;, &#39;2015&#39;, &#39;2016&#39;, &#39;2017&#39;, &#39;2018&#39;, &#39;2019&#39;, &#39;2020&#39;,
       &#39;2021&#39;, &#39;Estimates Start After&#39;],
      dtype=&#39;object&#39;)

In [22]:
#dataframe with GDP,constant prices information
df_gdp_const = df[df["Subject Descriptor"]=="Gross domestic product, constant prices"]
print(df_gdp_const["Units"].unique())
print(df_gdp_const.columns)
df_gdp_const.sort_values(by="Country", inplace = True)
print(len(df_gdp_const))
df_save = df_gdp_const[['WEO Country Code', 'ISO', 'WEO Subject Code', 'Country',
       'Subject Descriptor', 'Subject Notes', 'Units', 'Scale',
       'Country/Series-specific Notes']].copy()
df_save.reset_index(inplace = True)
df_save = df_save.reindex(range(0,194))
df_save.head(5)
df_gdp_const.columns = ['gdp_const_' + str(col) for col in df_gdp_const.columns]
df_gdp_const.drop(['gdp_const_WEO Country Code', 'gdp_const_ISO',
       'gdp_const_WEO Subject Code', 'gdp_const_Country',
       'gdp_const_Subject Descriptor', 'gdp_const_Subject Notes',
       'gdp_const_Units', 'gdp_const_Scale',
       'gdp_const_Country/Series-specific Notes'], inplace= True, axis = 1)
print(df_gdp_const.columns)
df_gdp_const.reset_index(inplace = True)
df_gdp_const = df_gdp_const.reindex(range(0,194))
df_gdp_const.drop(['index'],inplace = True, axis =1 )
df_gdp_const.head(5)

[&#39;Percent change&#39;]
Index([&#39;WEO Country Code&#39;, &#39;ISO&#39;, &#39;WEO Subject Code&#39;, &#39;Country&#39;,
       &#39;Subject Descriptor&#39;, &#39;Subject Notes&#39;, &#39;Units&#39;, &#39;Scale&#39;,
       &#39;Country/Series-specific Notes&#39;, &#39;1980&#39;, &#39;1981&#39;, &#39;1982&#39;, &#39;1983&#39;, &#39;1984&#39;,
       &#39;1985&#39;, &#39;1986&#39;, &#39;1987&#39;, &#39;1988&#39;, &#39;1989&#39;, &#39;1990&#39;, &#39;1991&#39;, &#39;1992&#39;, &#39;1993&#39;,
       &#39;1994&#39;, &#39;1995&#39;, &#39;1996&#39;, &#39;1997&#39;, &#39;1998&#39;, &#39;1999&#39;, &#39;2000&#39;, &#39;2001&#39;, &#39;2002&#39;,
       &#39;2003&#39;, &#39;2004&#39;, &#39;2005&#39;, &#39;2006&#39;, &#39;2007&#39;, &#39;2008&#39;, &#39;2009&#39;, &#39;2010&#39;, &#39;2011&#39;,
       &#39;2012&#39;, &#39;2013&#39;, &#39;2014&#39;, &#39;2015&#39;, &#39;2016&#39;, &#39;2017&#39;, &#39;2018&#39;, &#39;2019&#39;, &#39;2020&#39;,
       &#39;2021&#39;, &#39;Estimates Start After&#39;],
      dtype=&#39;object&#39;)
194
Index([&#39;gdp_const_1980&#39;, &#39;gdp_const_1981&#39;, &#39;gdp_const_1982&#39;, &#39;gdp_const_1983&#39;,
       &#39;gdp_const_1984&#39;, &#39;gdp_const_1985&#39;, &#39;gdp_const_1986&#39;, &#39;gdp_const_1987&#39;,
       &#39;gdp_const_1988&#39;, &#39;gdp_const_1989&#39;, &#39;gdp_const_1990&#39;, &#39;gdp_const_1991&#39;,
       &#39;gdp_const_1992&#39;, &#39;gdp_const_1993&#39;, &#39;gdp_const_1994&#39;, &#39;gdp_const_1995&#39;,
       &#39;gdp_const_1996&#39;, &#39;gdp_const_1997&#39;, &#39;gdp_const_1998&#39;, &#39;gdp_const_1999&#39;,
       &#39;gdp_const_2000&#39;, &#39;gdp_const_2001&#39;, &#39;gdp_const_2002&#39;, &#39;gdp_const_2003&#39;,
       &#39;gdp_const_2004&#39;, &#39;gdp_const_2005&#39;, &#39;gdp_const_2006&#39;, &#39;gdp_const_2007&#39;,
       &#39;gdp_const_2008&#39;, &#39;gdp_const_2009&#39;, &#39;gdp_const_2010&#39;, &#39;gdp_const_2011&#39;,
       &#39;gdp_const_2012&#39;, &#39;gdp_const_2013&#39;, &#39;gdp_const_2014&#39;, &#39;gdp_const_2015&#39;,
       &#39;gdp_const_2016&#39;, &#39;gdp_const_2017&#39;, &#39;gdp_const_2018&#39;, &#39;gdp_const_2019&#39;,
       &#39;gdp_const_2020&#39;, &#39;gdp_const_2021&#39;, &#39;gdp_const_Estimates Start After&#39;],
      dtype=&#39;object&#39;)

,gdp_const_1980,gdp_const_1981,gdp_const_1982,gdp_const_1983,gdp_const_1984,gdp_const_1985,gdp_const_1986,gdp_const_1987,gdp_const_1988,gdp_const_1989,...,gdp_const_2013,gdp_const_2014,gdp_const_2015,gdp_const_2016,gdp_const_2017,gdp_const_2018,gdp_const_2019,gdp_const_2020,gdp_const_2021,gdp_const_Estimates Start After
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.683,2.697,0.988,2.164,2.889,2.664,3.037,-3.007,4.495,2018.0
1,2.684,5.7,2.9,1.1,2,-1.5,5.6,-0.8,-1.4,9.8,...,1.002,1.774,2.219,3.315,3.802,4.071,2.214,-5.006,8,2018.0
2,-5.4,3,6.4,5.4,5.6,5.6,-0.2,-0.7,-1.9,4.8,...,2.8,3.8,3.7,3.2,1.3,1.4,0.7,-5.157,6.231,2019.0
3,2.406,-4.4,--,4.2,6,3.5,2.9,4.083,6.129,0.042,...,4.955,4.823,0.944,-2.58,-0.15,-1.2,-1.503,-1.374,2.644,2018.0
4,8.161,3.815,-0.084,5.364,10.165,7.644,11.494,6.626,5.213,5.252,...,-0.601,3.797,3.824,5.498,3.145,7.389,5.264,-9.998,7.959,2018.0

In [23]:
#dataframe with GDP,current prices information
df_gdp_curr = df[df["Subject Descriptor"]=="Gross domestic product, current prices"]
print(df_gdp_curr["Units"].unique())
df_gdp_curr.sort_values(by="Country", inplace = True)
print(len(df_gdp_curr))
df_gdp_curr.columns = ['gdp_curr_' + str(col) for col in df_gdp_curr.columns]
df_gdp_curr.drop(['gdp_curr_WEO Country Code', 'gdp_curr_ISO',
       'gdp_curr_WEO Subject Code', 'gdp_curr_Country',
       'gdp_curr_Subject Descriptor', 'gdp_curr_Subject Notes',
       'gdp_curr_Units', 'gdp_curr_Scale',
       'gdp_curr_Country/Series-specific Notes'], inplace= True, axis = 1)
print(df_gdp_curr.columns)
df_gdp_curr.reset_index(inplace = True)
df_gdp_curr = df_gdp_curr.reindex(range(0,194))
df_gdp_curr.drop(['index'],inplace = True, axis =1 )
df_gdp_curr.head(5)

[&#39;Purchasing power parity; international dollars&#39;]
194
Index([&#39;gdp_curr_1980&#39;, &#39;gdp_curr_1981&#39;, &#39;gdp_curr_1982&#39;, &#39;gdp_curr_1983&#39;,
       &#39;gdp_curr_1984&#39;, &#39;gdp_curr_1985&#39;, &#39;gdp_curr_1986&#39;, &#39;gdp_curr_1987&#39;,
       &#39;gdp_curr_1988&#39;, &#39;gdp_curr_1989&#39;, &#39;gdp_curr_1990&#39;, &#39;gdp_curr_1991&#39;,
       &#39;gdp_curr_1992&#39;, &#39;gdp_curr_1993&#39;, &#39;gdp_curr_1994&#39;, &#39;gdp_curr_1995&#39;,
       &#39;gdp_curr_1996&#39;, &#39;gdp_curr_1997&#39;, &#39;gdp_curr_1998&#39;, &#39;gdp_curr_1999&#39;,
       &#39;gdp_curr_2000&#39;, &#39;gdp_curr_2001&#39;, &#39;gdp_curr_2002&#39;, &#39;gdp_curr_2003&#39;,
       &#39;gdp_curr_2004&#39;, &#39;gdp_curr_2005&#39;, &#39;gdp_curr_2006&#39;, &#39;gdp_curr_2007&#39;,
       &#39;gdp_curr_2008&#39;, &#39;gdp_curr_2009&#39;, &#39;gdp_curr_2010&#39;, &#39;gdp_curr_2011&#39;,
       &#39;gdp_curr_2012&#39;, &#39;gdp_curr_2013&#39;, &#39;gdp_curr_2014&#39;, &#39;gdp_curr_2015&#39;,
       &#39;gdp_curr_2016&#39;, &#39;gdp_curr_2017&#39;, &#39;gdp_curr_2018&#39;, &#39;gdp_curr_2019&#39;,
       &#39;gdp_curr_2020&#39;, &#39;gdp_curr_2021&#39;, &#39;gdp_curr_Estimates Start After&#39;],
      dtype=&#39;object&#39;)

,gdp_curr_1980,gdp_curr_1981,gdp_curr_1982,gdp_curr_1983,gdp_curr_1984,gdp_curr_1985,gdp_curr_1986,gdp_curr_1987,gdp_curr_1988,gdp_curr_1989,...,gdp_curr_2013,gdp_curr_2014,gdp_curr_2015,gdp_curr_2016,gdp_curr_2017,gdp_curr_2018,gdp_curr_2019,gdp_curr_2020,gdp_curr_2021,gdp_curr_Estimates Start After
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.181,62.948,64.231,66.301,69.501,73.091,76.624,74.792,79.678,2018.0
1,5.563,6.437,7.033,7.388,7.808,7.934,8.547,8.689,8.869,10.12,...,30.398,31.51,32.545,33.972,35.928,38.301,39.832,38.078,41.926,2018.0
2,86.89,97.964,110.674,121.219,132.626,144.483,147.097,149.68,152.014,165.557,...,527.206,557.368,584.008,608.937,628.47,652.795,668.827,638.363,691.364,2019.0
3,10.31,10.789,11.456,12.404,13.623,14.546,15.269,16.285,17.893,18.602,...,181.601,193.882,197.749,194.641,198.009,200.4,200.83,199.329,208.589,2018.0
4,0.268,0.304,0.323,0.353,0.403,0.448,0.509,0.556,0.606,0.663,...,1.89,1.998,2.097,2.235,2.348,2.583,2.767,2.506,2.758,2018.0

In [24]:
#dataframe with GDP per capita information
df_gdp_capita = df[df["Subject Descriptor"]=="Gross domestic product per capita, constant prices"]
print(df_gdp_capita["Units"].unique())
df_gdp_capita.sort_values(by="Country", inplace = True)
print(len(df_gdp_capita))
df_gdp_capita.columns = ['gdp_captia_' + str(col) for col in df_gdp_capita.columns]
df_gdp_capita.drop(['gdp_captia_WEO Country Code', 'gdp_captia_ISO',
       'gdp_captia_WEO Subject Code', 'gdp_captia_Country',
       'gdp_captia_Subject Descriptor', 'gdp_captia_Subject Notes',
       'gdp_captia_Units', 'gdp_captia_Scale',
       'gdp_captia_Country/Series-specific Notes'], inplace = True, axis = 1)
print(df_gdp_capita.columns)
df_gdp_capita.reset_index(inplace = True)
df_gdp_capita = df_gdp_capita.reindex(range(0,194))
df_gdp_capita.drop(['index'],inplace = True, axis =1 )
df_gdp_capita.head(5)

[&#39;Purchasing power parity; percent change&#39;]
194
Index([&#39;gdp_captia_1980&#39;, &#39;gdp_captia_1981&#39;, &#39;gdp_captia_1982&#39;,
       &#39;gdp_captia_1983&#39;, &#39;gdp_captia_1984&#39;, &#39;gdp_captia_1985&#39;,
       &#39;gdp_captia_1986&#39;, &#39;gdp_captia_1987&#39;, &#39;gdp_captia_1988&#39;,
       &#39;gdp_captia_1989&#39;, &#39;gdp_captia_1990&#39;, &#39;gdp_captia_1991&#39;,
       &#39;gdp_captia_1992&#39;, &#39;gdp_captia_1993&#39;, &#39;gdp_captia_1994&#39;,
       &#39;gdp_captia_1995&#39;, &#39;gdp_captia_1996&#39;, &#39;gdp_captia_1997&#39;,
       &#39;gdp_captia_1998&#39;, &#39;gdp_captia_1999&#39;, &#39;gdp_captia_2000&#39;,
       &#39;gdp_captia_2001&#39;, &#39;gdp_captia_2002&#39;, &#39;gdp_captia_2003&#39;,
       &#39;gdp_captia_2004&#39;, &#39;gdp_captia_2005&#39;, &#39;gdp_captia_2006&#39;,
       &#39;gdp_captia_2007&#39;, &#39;gdp_captia_2008&#39;, &#39;gdp_captia_2009&#39;,
       &#39;gdp_captia_2010&#39;, &#39;gdp_captia_2011&#39;, &#39;gdp_captia_2012&#39;,
       &#39;gdp_captia_2013&#39;, &#39;gdp_captia_2014&#39;, &#39;gdp_captia_2015&#39;,
       &#39;gdp_captia_2016&#39;, &#39;gdp_captia_2017&#39;, &#39;gdp_captia_2018&#39;,
       &#39;gdp_captia_2019&#39;, &#39;gdp_captia_2020&#39;, &#39;gdp_captia_2021&#39;,
       &#39;gdp_captia_Estimates Start After&#39;],
      dtype=&#39;object&#39;)

,gdp_captia_1980,gdp_captia_1981,gdp_captia_1982,gdp_captia_1983,gdp_captia_1984,gdp_captia_1985,gdp_captia_1986,gdp_captia_1987,gdp_captia_1988,gdp_captia_1989,...,gdp_captia_2013,gdp_captia_2014,gdp_captia_2015,gdp_captia_2016,gdp_captia_2017,gdp_captia_2018,gdp_captia_2019,gdp_captia_2020,gdp_captia_2021,gdp_captia_Estimates Start After
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.236,-0.521,-1.941,-0.547,0.358,1.268,1.654,-4.291,3.063,2018.0
1,0.602,3.604,0.748,-1.022,-0.124,-3.504,3.578,-2.761,-3.243,6.888,...,1.187,1.985,2.517,3.48,3.898,4.328,2.095,-4.854,8.173,2018.0
2,-8.248,-0.104,3.09,2.05,2.314,0.724,-2.826,-3.246,-4.749,2.254,...,0.647,1.632,1.497,0.994,-0.849,-0.641,-1.232,-6.907,4.351,2019.0
3,9.684,-6.916,-2.577,1.542,3.27,-8.151,0.042,1.489,3.33,-2.629,...,1.898,1.77,-2.007,-5.492,-3.224,-4.151,-4.371,-4.246,-0.346,2018.0
4,8.549,4.635,1.075,6.902,11.969,9.476,13.459,8.509,6.805,6.222,...,-2.106,2.225,2.252,3.901,1.584,5.763,3.696,-11.321,6.397,2018.0

In [25]:
#dataframe with inflation on average consumer prices information
df_infl_avg_prices = df[df["Subject Descriptor"]=="Inflation, average consumer prices"]
print(df_infl_avg_prices["Units"].unique())
df_infl_avg_prices.sort_values(by="Country", inplace = True)
print(len(df_infl_avg_prices))
df.sort_values(by="Country", inplace = True)
df_infl_avg_prices.columns = ['infl_avg_prices_' + str(col) for col in df_infl_avg_prices.columns]
df_infl_avg_prices.drop(['infl_avg_prices_WEO Country Code', 'infl_avg_prices_ISO',
       'infl_avg_prices_WEO Subject Code', 'infl_avg_prices_Country',
       'infl_avg_prices_Subject Descriptor', 'infl_avg_prices_Subject Notes',
       'infl_avg_prices_Units', 'infl_avg_prices_Scale',
       'infl_avg_prices_Country/Series-specific Notes'], inplace = True, axis = 1)
print(df_infl_avg_prices.columns)
df_infl_avg_prices.reset_index(inplace = True)
df_infl_avg_prices = df_infl_avg_prices.reindex(range(0,194))
df_infl_avg_prices.drop(['index'],inplace = True, axis =1 )
df_infl_avg_prices.head(5)

[&#39;Percent change&#39;]
194
Index([&#39;infl_avg_prices_1980&#39;, &#39;infl_avg_prices_1981&#39;, &#39;infl_avg_prices_1982&#39;,
       &#39;infl_avg_prices_1983&#39;, &#39;infl_avg_prices_1984&#39;, &#39;infl_avg_prices_1985&#39;,
       &#39;infl_avg_prices_1986&#39;, &#39;infl_avg_prices_1987&#39;, &#39;infl_avg_prices_1988&#39;,
       &#39;infl_avg_prices_1989&#39;, &#39;infl_avg_prices_1990&#39;, &#39;infl_avg_prices_1991&#39;,
       &#39;infl_avg_prices_1992&#39;, &#39;infl_avg_prices_1993&#39;, &#39;infl_avg_prices_1994&#39;,
       &#39;infl_avg_prices_1995&#39;, &#39;infl_avg_prices_1996&#39;, &#39;infl_avg_prices_1997&#39;,
       &#39;infl_avg_prices_1998&#39;, &#39;infl_avg_prices_1999&#39;, &#39;infl_avg_prices_2000&#39;,
       &#39;infl_avg_prices_2001&#39;, &#39;infl_avg_prices_2002&#39;, &#39;infl_avg_prices_2003&#39;,
       &#39;infl_avg_prices_2004&#39;, &#39;infl_avg_prices_2005&#39;, &#39;infl_avg_prices_2006&#39;,
       &#39;infl_avg_prices_2007&#39;, &#39;infl_avg_prices_2008&#39;, &#39;infl_avg_prices_2009&#39;,
       &#39;infl_avg_prices_2010&#39;, &#39;infl_avg_prices_2011&#39;, &#39;infl_avg_prices_2012&#39;,
       &#39;infl_avg_prices_2013&#39;, &#39;infl_avg_prices_2014&#39;, &#39;infl_avg_prices_2015&#39;,
       &#39;infl_avg_prices_2016&#39;, &#39;infl_avg_prices_2017&#39;, &#39;infl_avg_prices_2018&#39;,
       &#39;infl_avg_prices_2019&#39;, &#39;infl_avg_prices_2020&#39;, &#39;infl_avg_prices_2021&#39;,
       &#39;infl_avg_prices_Estimates Start After&#39;],
      dtype=&#39;object&#39;)

,infl_avg_prices_1980,infl_avg_prices_1981,infl_avg_prices_1982,infl_avg_prices_1983,infl_avg_prices_1984,infl_avg_prices_1985,infl_avg_prices_1986,infl_avg_prices_1987,infl_avg_prices_1988,infl_avg_prices_1989,...,infl_avg_prices_2013,infl_avg_prices_2014,infl_avg_prices_2015,infl_avg_prices_2016,infl_avg_prices_2017,infl_avg_prices_2018,infl_avg_prices_2019,infl_avg_prices_2020,infl_avg_prices_2021,infl_avg_prices_Estimates Start After
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.386,4.674,-0.662,4.384,4.976,0.626,2.302,4.711,4.451,2018.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.925,1.613,1.868,1.282,1.987,2.029,1.411,2.39,2.75,2019.0
2,9.668,14.61,6.593,7.835,6.31,10.432,14.007,5.857,5.938,9.172,...,3.255,2.917,4.784,6.398,5.591,4.27,1.952,3.5,3.7,2019.0
3,46.708,1.391,1.833,1.833,1.833,1.833,1.833,1.833,1.833,1.833,...,8.782,7.298,9.159,30.694,29.844,19.629,17.079,20.719,22.282,2019.0
4,18.999,11.465,4.17,2.346,3.844,0.996,0.5,3.602,6.8,4.362,...,1.059,1.089,0.969,-0.489,2.432,1.21,1.38,1.443,1.685,2018.0

In [26]:
#dataframe with inflation using end of period prices information
df_infl_end_prices = df[df["Subject Descriptor"]=="Inflation, end of period consumer prices"]
df_infl_end_prices.sort_values(by="Country", inplace = True)

print(df_infl_end_prices["Units"].unique())
print(len(df_infl_end_prices))
df_infl_end_prices.columns = ['infl_end_prices_' + str(col) for col in df_infl_end_prices.columns]
df_infl_end_prices.drop(['infl_end_prices_WEO Country Code', 'infl_end_prices_ISO',
       'infl_end_prices_WEO Subject Code', 'infl_end_prices_Country',
       'infl_end_prices_Subject Descriptor', 'infl_end_prices_Subject Notes',
       'infl_end_prices_Units', 'infl_end_prices_Scale',
       'infl_end_prices_Country/Series-specific Notes'], inplace =True, axis = 1)
print(df_infl_end_prices.columns)
df_infl_end_prices.reset_index(inplace = True)
df_infl_end_prices = df_infl_end_prices.reindex(range(0,194))
df_infl_end_prices.drop(['index'],inplace = True, axis =1 )
df_infl_end_prices.head(5)

[&#39;Percent change&#39;]
194
Index([&#39;infl_end_prices_1980&#39;, &#39;infl_end_prices_1981&#39;, &#39;infl_end_prices_1982&#39;,
       &#39;infl_end_prices_1983&#39;, &#39;infl_end_prices_1984&#39;, &#39;infl_end_prices_1985&#39;,
       &#39;infl_end_prices_1986&#39;, &#39;infl_end_prices_1987&#39;, &#39;infl_end_prices_1988&#39;,
       &#39;infl_end_prices_1989&#39;, &#39;infl_end_prices_1990&#39;, &#39;infl_end_prices_1991&#39;,
       &#39;infl_end_prices_1992&#39;, &#39;infl_end_prices_1993&#39;, &#39;infl_end_prices_1994&#39;,
       &#39;infl_end_prices_1995&#39;, &#39;infl_end_prices_1996&#39;, &#39;infl_end_prices_1997&#39;,
       &#39;infl_end_prices_1998&#39;, &#39;infl_end_prices_1999&#39;, &#39;infl_end_prices_2000&#39;,
       &#39;infl_end_prices_2001&#39;, &#39;infl_end_prices_2002&#39;, &#39;infl_end_prices_2003&#39;,
       &#39;infl_end_prices_2004&#39;, &#39;infl_end_prices_2005&#39;, &#39;infl_end_prices_2006&#39;,
       &#39;infl_end_prices_2007&#39;, &#39;infl_end_prices_2008&#39;, &#39;infl_end_prices_2009&#39;,
       &#39;infl_end_prices_2010&#39;, &#39;infl_end_prices_2011&#39;, &#39;infl_end_prices_2012&#39;,
       &#39;infl_end_prices_2013&#39;, &#39;infl_end_prices_2014&#39;, &#39;infl_end_prices_2015&#39;,
       &#39;infl_end_prices_2016&#39;, &#39;infl_end_prices_2017&#39;, &#39;infl_end_prices_2018&#39;,
       &#39;infl_end_prices_2019&#39;, &#39;infl_end_prices_2020&#39;, &#39;infl_end_prices_2021&#39;,
       &#39;infl_end_prices_Estimates Start After&#39;],
      dtype=&#39;object&#39;)

,infl_end_prices_1980,infl_end_prices_1981,infl_end_prices_1982,infl_end_prices_1983,infl_end_prices_1984,infl_end_prices_1985,infl_end_prices_1986,infl_end_prices_1987,infl_end_prices_1988,infl_end_prices_1989,...,infl_end_prices_2013,infl_end_prices_2014,infl_end_prices_2015,infl_end_prices_2016,infl_end_prices_2017,infl_end_prices_2018,infl_end_prices_2019,infl_end_prices_2020,infl_end_prices_2021,infl_end_prices_Estimates Start After
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.241,1.487,1.131,4.588,3.041,0.755,2.773,4.5,5,2018.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.776,0.719,1.937,2.176,1.798,1.799,1.15,2.6,2.9,2019.0
2,14.143,6.632,5.251,12.695,10.662,12.458,11.891,3.168,8.637,10.718,...,1.148,5.253,4.362,6.957,4.933,2.702,2.434,3.3,4,2019.0
3,NaN,1.833,1.833,1.833,1.833,1.833,1.833,1.833,1.833,1.833,...,7.687,7.498,12.091,41.125,23.667,18.604,16.893,20.979,23.981,2019.0
4,17.71,7.16,2.617,3.114,3.219,-0.721,1.967,5.822,5.518,4.88,...,1.059,1.327,0.9,-1.121,2.356,1.741,1.574,1.348,2.008,2018.0

In [27]:
#dataframe with unemployment rate information
df_unemployment = df[df["Subject Descriptor"]=="Unemployment rate"]
print(df_unemployment["Units"].unique())
df_unemployment.sort_values(by="Country", inplace = True)
print(len(df_unemployment))
df_unemployment.columns = ['unemployment_' + str(col) for col in df_unemployment.columns]
df_unemployment.drop(['unemployment_WEO Country Code', 'unemployment_ISO',
       'unemployment_WEO Subject Code', 'unemployment_Country',
       'unemployment_Subject Descriptor', 'unemployment_Subject Notes',
       'unemployment_Units', 'unemployment_Scale',
       'unemployment_Country/Series-specific Notes'], inplace = True, axis = 1)
print(df_unemployment.columns)
df_unemployment.reset_index(inplace = True)
df_unemployment = df_unemployment.reindex(range(0,194))
df_unemployment.drop(['index'],inplace = True, axis =1 )
df_unemployment.head(5)

[&#39;Percent of total labor force&#39;]
194
Index([&#39;unemployment_1980&#39;, &#39;unemployment_1981&#39;, &#39;unemployment_1982&#39;,
       &#39;unemployment_1983&#39;, &#39;unemployment_1984&#39;, &#39;unemployment_1985&#39;,
       &#39;unemployment_1986&#39;, &#39;unemployment_1987&#39;, &#39;unemployment_1988&#39;,
       &#39;unemployment_1989&#39;, &#39;unemployment_1990&#39;, &#39;unemployment_1991&#39;,
       &#39;unemployment_1992&#39;, &#39;unemployment_1993&#39;, &#39;unemployment_1994&#39;,
       &#39;unemployment_1995&#39;, &#39;unemployment_1996&#39;, &#39;unemployment_1997&#39;,
       &#39;unemployment_1998&#39;, &#39;unemployment_1999&#39;, &#39;unemployment_2000&#39;,
       &#39;unemployment_2001&#39;, &#39;unemployment_2002&#39;, &#39;unemployment_2003&#39;,
       &#39;unemployment_2004&#39;, &#39;unemployment_2005&#39;, &#39;unemployment_2006&#39;,
       &#39;unemployment_2007&#39;, &#39;unemployment_2008&#39;, &#39;unemployment_2009&#39;,
       &#39;unemployment_2010&#39;, &#39;unemployment_2011&#39;, &#39;unemployment_2012&#39;,
       &#39;unemployment_2013&#39;, &#39;unemployment_2014&#39;, &#39;unemployment_2015&#39;,
       &#39;unemployment_2016&#39;, &#39;unemployment_2017&#39;, &#39;unemployment_2018&#39;,
       &#39;unemployment_2019&#39;, &#39;unemployment_2020&#39;, &#39;unemployment_2021&#39;,
       &#39;unemployment_Estimates Start After&#39;],
      dtype=&#39;object&#39;)

,unemployment_1980,unemployment_1981,unemployment_1982,unemployment_1983,unemployment_1984,unemployment_1985,unemployment_1986,unemployment_1987,unemployment_1988,unemployment_1989,...,unemployment_2013,unemployment_2014,unemployment_2015,unemployment_2016,unemployment_2017,unemployment_2018,unemployment_2019,unemployment_2020,unemployment_2021,unemployment_Estimates Start After
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.028,4.224,2.813,3.335,4.41,5.853,5.43,5.164,6.033,6.721,...,15.9,17.5,17.1,15.2,13.7,12.3,12,11.8,11.5,2019.0
2,15.789,15.385,15,14.286,16.536,16.901,18.356,20.056,21.801,18.1,...,9.829,10.6,11.214,10.498,11.709,11.731,11.383,15.091,13.909,2019.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#dataframe with general government net lending/borrowing information
df_net_lending_borrowing = df[df["Subject Descriptor"]=="General government net lending/borrowing"]
print(df_net_lending_borrowing["Units"].unique())
print(len(df_net_lending_borrowing))
df_net_lending_borrowing.sort_values(by="Country", inplace = True)
df_net_lending_borrowing.columns = ['net_lend_borrow_' + str(col) for col in df_net_lending_borrowing.columns]
df_net_lending_borrowing.drop(['net_lend_borrow_WEO Country Code', 'net_lend_borrow_ISO',
       'net_lend_borrow_WEO Subject Code', 'net_lend_borrow_Country',
       'net_lend_borrow_Subject Descriptor', 'net_lend_borrow_Subject Notes',
       'net_lend_borrow_Units', 'net_lend_borrow_Scale',
       'net_lend_borrow_Country/Series-specific Notes'], inplace = True, axis = 1)
print(df_net_lending_borrowing.columns)
df_net_lending_borrowing.reset_index(inplace = True)
df_net_lending_borrowing = df.reindex(range(0,194))
df_net_lending_borrowing.head

[&#39;Percent of GDP&#39;]
194
Index([&#39;net_lend_borrow_1980&#39;, &#39;net_lend_borrow_1981&#39;, &#39;net_lend_borrow_1982&#39;,
       &#39;net_lend_borrow_1983&#39;, &#39;net_lend_borrow_1984&#39;, &#39;net_lend_borrow_1985&#39;,
       &#39;net_lend_borrow_1986&#39;, &#39;net_lend_borrow_1987&#39;, &#39;net_lend_borrow_1988&#39;,
       &#39;net_lend_borrow_1989&#39;, &#39;net_lend_borrow_1990&#39;, &#39;net_lend_borrow_1991&#39;,
       &#39;net_lend_borrow_1992&#39;, &#39;net_lend_borrow_1993&#39;, &#39;net_lend_borrow_1994&#39;,
       &#39;net_lend_borrow_1995&#39;, &#39;net_lend_borrow_1996&#39;, &#39;net_lend_borrow_1997&#39;,
       &#39;net_lend_borrow_1998&#39;, &#39;net_lend_borrow_1999&#39;, &#39;net_lend_borrow_2000&#39;,
       &#39;net_lend_borrow_2001&#39;, &#39;net_lend_borrow_2002&#39;, &#39;net_lend_borrow_2003&#39;,
       &#39;net_lend_borrow_2004&#39;, &#39;net_lend_borrow_2005&#39;, &#39;net_lend_borrow_2006&#39;,
       &#39;net_lend_borrow_2007&#39;, &#39;net_lend_borrow_2008&#39;, &#39;net_lend_borrow_2009&#39;,
       &#39;net_lend_borrow_2010&#39;, &#39;net_lend_borrow_2011&#39;, &#39;net_lend_borrow_2012&#39;,
       &#39;net_lend_borrow_2013&#39;, &#39;net_lend_borrow_2014&#39;, &#39;net_lend_borrow_2015&#39;,
       &#39;net_lend_borrow_2016&#39;, &#39;net_lend_borrow_2017&#39;, &#39;net_lend_borrow_2018&#39;,
       &#39;net_lend_borrow_2019&#39;, &#39;net_lend_borrow_2020&#39;, &#39;net_lend_borrow_2021&#39;,
       &#39;net_lend_borrow_Estimates Start After&#39;],
      dtype=&#39;object&#39;)

&lt;bound method NDFrame.head of     WEO Country Code  ISO WEO Subject Code            Country  \
0                512  AFG        NGDP_RPCH        Afghanistan
1                512  AFG           PPPGDP        Afghanistan
2                512  AFG    NGDPRPPPPCPCH        Afghanistan
3                512  AFG          PCPIPCH        Afghanistan
4                512  AFG         PCPIEPCH        Afghanistan
..               ...  ...              ...                ...
189              223  BRA              LUR             Brazil
190              223  BRA      GGXCNL_NGDP             Brazil
191              223  BRA        BCA_NGDPD             Brazil
192              516  BRN        NGDP_RPCH  Brunei Darussalam
193              516  BRN           PPPGDP  Brunei Darussalam

                                    Subject Descriptor  \
0              Gross domestic product, constant prices
1               Gross domestic product, current prices
2    Gross domestic product per capita, constant pr...
3                   Inflation, average consumer prices
4             Inflation, end of period consumer prices
..                                                 ...
189                                  Unemployment rate
190           General government net lending/borrowing
191                            Current account balance
192            Gross domestic product, constant prices
193             Gross domestic product, current prices

                                         Subject Notes  \
0    Annual percentages of constant price GDP are y...
1    These data form the basis for the country weig...
2    GDP is expressed in constant international dol...
3    Annual percentages of average consumer prices ...
4     Annual percentages of end of period consumer ...
..                                                 ...
189  Unemployment rate can be defined by either the...
190  Net lending (+)/ borrowing (?) is calculated a...
191  Current account is all transactions other than...
192  Annual percentages of constant price GDP are y...
193  These data form the basis for the country weig...

                                              Units     Scale  \
0                                    Percent change       NaN
1    Purchasing power parity; international dollars  Billions
2           Purchasing power parity; percent change       NaN
3                                    Percent change       NaN
4                                    Percent change       NaN
..                                              ...       ...
189                    Percent of total labor force       NaN
190                                  Percent of GDP       NaN
191                                  Percent of GDP       NaN
192                                  Percent change       NaN
193  Purchasing power parity; international dollars  Billions

                         Country/Series-specific Notes    1980  ...    2013  \
0    Source: National Statistics Office Latest actu...     NaN  ...   5.683
1    Source: National Statistics Office Latest actu...     NaN  ...  60.181
2    Source: National Statistics Office Latest actu...     NaN  ...   2.236
3    Source: National Statistics Office Latest actu...     NaN  ...   7.386
4    Source: National Statistics Office Latest actu...     NaN  ...   7.241
..                                                 ...     ...  ...     ...
189  Source: National Statistics Office Latest actu...     NaN  ...     7.2
190  Source: Ministry of Finance or Treasury Latest...     NaN  ...  -2.955
191  Source: Central Bank Latest actual data: 2018 ...  -8.786  ...  -3.228
192  Source: National Statistics Office. Department...     NaN  ...  -2.125
193  Source: National Statistics Office. Department...     NaN  ...  33.269

       2014     2015    2016    2017    2018    2019    2020    2021  \
0     2.697    0.988   2.164   2.889   2.664   3.037  -3.007   4.495
1    62.948   64.231  66.301  69.501  73.091  76.624  74.792  79.678
2    -0.521   -1.941  -0.547   0.358   1.268   1.654  -4.291   3.063
3     4.674   -0.662   4.384   4.976   0.626   2.302   4.711   4.451
4     1.487    1.131   4.588   3.041   0.755   2.773     4.5       5
..      ...      ...     ...     ...     ...     ...     ...     ...
189   6.783    8.283  11.258  12.767  12.258  11.925    14.7    13.5
190  -6.021  -10.254  -8.994   -7.86  -7.166  -6.017  -9.349  -6.132
191   -4.13   -3.026  -1.349  -0.728  -2.204   -2.69  -1.771  -2.306
192  -2.508   -0.405  -2.465   1.327   0.053   3.869   1.297   3.541
193  33.035   33.244   32.76   33.82  34.662  36.631  37.342  39.418

    Estimates Start After
0                  2018.0
1                  2018.0
2                  2018.0
3                  2018.0
4                  2018.0
..                    ...
189                2019.0
190                2019.0
191                2018.0
192                2019.0
193                2019.0

[194 rows x 52 columns]&gt;

In [29]:
#dataframe with current account balance information
df_acc_bal = df[df["Subject Descriptor"]=="Current account balance"]
print(df_acc_bal["Units"].unique())
df_acc_bal.sort_values(by="Country", inplace = True)
print(len(df_acc_bal))
df_acc_bal.columns = ['acc_bal_' + str(col) for col in df_acc_bal.columns]
df_acc_bal.drop(['acc_bal_WEO Country Code', 'acc_bal_ISO', 'acc_bal_WEO Subject Code',
       'acc_bal_Country', 'acc_bal_Subject Descriptor',
       'acc_bal_Subject Notes', 'acc_bal_Units', 'acc_bal_Scale',
       'acc_bal_Country/Series-specific Notes'], axis = 1, inplace = True)
print(df_acc_bal.columns)
df_acc_bal.reset_index(inplace= True)
df_acc_bal = df_acc_bal.reindex(range(0,194))
df_acc_bal.drop(['index'],inplace = True, axis =1 )
df_acc_bal.head(5)

[&#39;Percent of GDP&#39;]
194
Index([&#39;acc_bal_1980&#39;, &#39;acc_bal_1981&#39;, &#39;acc_bal_1982&#39;, &#39;acc_bal_1983&#39;,
       &#39;acc_bal_1984&#39;, &#39;acc_bal_1985&#39;, &#39;acc_bal_1986&#39;, &#39;acc_bal_1987&#39;,
       &#39;acc_bal_1988&#39;, &#39;acc_bal_1989&#39;, &#39;acc_bal_1990&#39;, &#39;acc_bal_1991&#39;,
       &#39;acc_bal_1992&#39;, &#39;acc_bal_1993&#39;, &#39;acc_bal_1994&#39;, &#39;acc_bal_1995&#39;,
       &#39;acc_bal_1996&#39;, &#39;acc_bal_1997&#39;, &#39;acc_bal_1998&#39;, &#39;acc_bal_1999&#39;,
       &#39;acc_bal_2000&#39;, &#39;acc_bal_2001&#39;, &#39;acc_bal_2002&#39;, &#39;acc_bal_2003&#39;,
       &#39;acc_bal_2004&#39;, &#39;acc_bal_2005&#39;, &#39;acc_bal_2006&#39;, &#39;acc_bal_2007&#39;,
       &#39;acc_bal_2008&#39;, &#39;acc_bal_2009&#39;, &#39;acc_bal_2010&#39;, &#39;acc_bal_2011&#39;,
       &#39;acc_bal_2012&#39;, &#39;acc_bal_2013&#39;, &#39;acc_bal_2014&#39;, &#39;acc_bal_2015&#39;,
       &#39;acc_bal_2016&#39;, &#39;acc_bal_2017&#39;, &#39;acc_bal_2018&#39;, &#39;acc_bal_2019&#39;,
       &#39;acc_bal_2020&#39;, &#39;acc_bal_2021&#39;, &#39;acc_bal_Estimates Start After&#39;],
      dtype=&#39;object&#39;)

,acc_bal_1980,acc_bal_1981,acc_bal_1982,acc_bal_1983,acc_bal_1984,acc_bal_1985,acc_bal_1986,acc_bal_1987,acc_bal_1988,acc_bal_1989,...,acc_bal_2013,acc_bal_2014,acc_bal_2015,acc_bal_2016,acc_bal_2017,acc_bal_2018,acc_bal_2019,acc_bal_2020,acc_bal_2021,acc_bal_Estimates Start After
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.444,6.549,3.709,8.375,7.087,12.986,8.591,4.898,5.753,2018.0
1,0.054,-0.455,-2.264,-1.583,-1.316,-1.158,0.057,0.265,-0.986,-2.691,...,-9.253,-10.797,-8.609,-7.572,-7.492,-6.758,-7.621,-11.226,-8.11,2018.0
2,0.571,-0.472,-0.973,-0.179,0.144,1.66,-3.623,0.223,-3.678,-1.965,...,0.398,-4.413,-16.442,-16.542,-13.187,-9.615,-9.609,-18.278,-17.057,2019.0
3,1.051,-2.947,-7.958,-5.549,-2.488,2.306,-3.827,4.939,-4.777,-1.156,...,6.107,-2.572,-8.841,-4.794,-0.518,6.99,2.899,-6.719,-3.017,2018.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.267,2.194,-2.428,-7.834,-13.638,-7.479,-25.567,-25.269,2017.0

In [30]:
df_complete = pd.concat([df_save,df_gdp_const,df_gdp_curr,df_gdp_capita,df_infl_avg_prices,df_unemployment,df_acc_bal], axis=1)

In [31]:
final_path = "C:/Users/HP/Documents/GitHub/Last-Mile-206/datasets/"
df_complete.to_csv(final_path + 'cdc-data-final.csv')