In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

In [3]:
df = pd.read_csv('sample_data/california_housing_train.csv')

In [4]:
columns = df.columns
print(columns)

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [5]:
x_train = df.iloc[:, 0:8].copy()
print(x_train)

       longitude  latitude  ...  households  median_income
0        -114.31     34.19  ...       472.0         1.4936
1        -114.47     34.40  ...       463.0         1.8200
2        -114.56     33.69  ...       117.0         1.6509
3        -114.57     33.64  ...       226.0         3.1917
4        -114.57     33.57  ...       262.0         1.9250
...          ...       ...  ...         ...            ...
16995    -124.26     40.58  ...       369.0         2.3571
16996    -124.27     40.69  ...       465.0         2.5179
16997    -124.30     41.84  ...       456.0         3.0313
16998    -124.30     41.80  ...       478.0         1.9797
16999    -124.35     40.54  ...       270.0         3.0147

[17000 rows x 8 columns]

In [6]:
y_train = df[['median_house_value']]
print(y_train)

       median_house_value
0                 66900.0
1                 80100.0
2                 85700.0
3                 73400.0
4                 65500.0
...                   ...
16995            111400.0
16996             79000.0
16997            103600.0
16998             85800.0
16999             94600.0

[17000 rows x 1 columns]

In [7]:
type(y_train)

pandas.core.frame.DataFrame

In [ ]:
sel = SelectFromModel(RandomForestClassifier(n_estimators = 100))
sel.fit(x_train, y_train.values.ravel())

In [63]:
print(sel.get_support())

[False False False False False False False False False False  True False
 False  True  True  True False  True False False False False False False
 False False False False False False False False False False False  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True False False False False False False False False False False False
 False False  True  True  True False  True  True  True  True  True False
  True False False False  True  True False False False False False False
 False False False False False  True  True  True  True  True  True  True
  True  True  True  True False False False False  True  True  True False
 False False False False False False False False False  True  True  True
 False  True  True  True  True  True  True  True False False False False
 False  True  True  True False False False False False False False False
  True  True  True False  True  True  True  True  True  True  True False
 False False False False False  True  True  True False False False False
 False False False False False  True False False  True False  True  True
 False  True  True  True False False False False False  True  True  True
 False False False False False False False False  True  True  True  True
  True  True  True  True  True  True  True  True  True False False False
 False False  True  True  True  True False False False False False False
  True  True  True  True False  True  True  True False False False False
 False False False  True False  True  True  True  True False False False
 False False False False False False  True  True  True  True  True  True
 False False False False False False False False  True  True  True  True
 False False False False False False False False False  True  True  True
  True False  True False False False False False  True False False  True
  True False  True False False False False False False False False False
  True  True  True  True  True  True False False False False  True  True
  True  True  True  True False False False False False False False False
 False False False False  True False  True  True  True  True False False
 False False  True  True  True  True False  True False False False False
  True  True  True False False False False False False False  True  True
  True  True False False  True  True  True  True  True  True False False
 False  True  True  True  True  True  True False False False False False
 False  True  True  True  True False False False  True  True  True  True
  True  True False False False  True  True  True  True  True  True False
 False  True  True  True False  True  True  True  True False False  True
  True  True  True  True False False False False False  True  True  True
  True False  True False False False False False False  True  True False
  True False False False False  True  True False False False False False
 False  True  True  True False False  True False False False False False
 False  True  True False False False False False False  True  True False
 False False False False  True False  True  True False False  True False
 False False False False False  True  True False False False False False
 False  True  True False False False False False False False  True False
 False False False False False False False False False  True  True  True
  True False False False False False  True False False False False False
  True  True  True  True False False False False False False False False
 False  True  True  True  True False False  True  True False  True False
  True  True False False  True False  True  True  True  True False False
 False False False False False  True  True  True False False  True  True
  True  True  True  True False False False False  True False  True  True
  True False False False False False False False False  True False  True
 False False  True  True  True  True  True False False False False False
 False  True  True  True False False False False False False False False
 False  True False  True False False False False False  True  True False
 False  True False False  True False  True  True False False False False
 False False False False False  True False False False False False False
 False False  True False False  True False False False False False False
 False False False False False False False False False False False False
  True  True False False False  True  True False  True  True False False
 False False False False False False False False False False False False
 False False False False False False False  True False  True  True  True
  True  True  True False False False False False False False False False
 False False False False False False False False False False False False
 False  True  True  True  True False False False False False False False
 False False False False]

In [ ]:
print(selected_feat)

In [ ]:
pd.series(sel.estimator_,feature_importances_,.ravel()).hist()